{% extends 'base.html' %}

{% block head %} 

{% endblock %}

{% block body %} 
<header>
    <nav>
        <div class="logo">
            ClimateVision
        </div>
        <div class="menu">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Predictions</a>
            <a href="#">Blog</a>
        </div>
    </nav>
</header>

<section class="main-content">
    <div class="left-content">
        <h2>Empowering You to Tackle Climate Change</h2>
        <p>Our innovative climate prediction and recommendation model helps you make informed decisions. Select your location and month to receive accurate rainfall predictions and sustainability recommendations.</p>
        <button>Start Prediction</button>
    </div>
    <div class="right-content">
     
        <img src="{{url_for('static', filename='images/climate-image.jpg')}}" alt="Climate Image">
    </div>
</section>

<section class="second-section">
    <h2>Prediction and Recommendation</h2>
    <form method="post" action="/recommendation">
    <div class="prediction">

            <div class="card">
            <!-- <h3>County</h3> -->
            <label for="county">Select County:</label>
            <select name="countySelect" id="countySelect">
                <option value="BARINGO">BARINGO</option>
                <option value="BOMET">BOMET</option>
                <option value="BUNGOMA">BUNGOMA</option>
                <option value="BUSIA">BUSIA</option>
                <option value="ELGEYO MARAKWET">ELGEYO MARAKWET</option>
                <option value="EMBU">EMBU</option>
                <option value="GARISSA">GARISSA</option>
                <option value="HOMABAY">HOMABAY</option>
                <option value="ISIOLO">ISIOLO</option>
                <option value="KAJIADO">KAJIADO</option>
                <option value="KAKAMEGA">KAKAMEGA</option>
                <option value="KERICHO">KERICHO</option>
                <option value="KIAMBU">KIAMBU</option>
                <option value="KILIFI">KILIFI</option>
                <option value="KIRINYAGA">KIRINYAGA</option>
                <option value="KISII">KISII</option>
                <option value="KISUMU">KISUMU</option>
                <option value="KITUI">KITUI</option>
                <option value="KWALE">KWALE</option>
                <option value="LAIKIPIA">LAIKIPIA</option>
                <option value="LAMU">LAMU</option>
                <option value="MACHAKOS">MACHAKOS</option>
                <option value="MAKUENI">MAKUENI</option>
                <option value="MANDERA">MANDERA</option>
                <option value="MARSABIT">MARSABIT</option>
                <option value="MERU">MERU</option>
                <option value="MIGORI">MIGORI</option>
                <option value="MOMBASA">MOMBASA</option>
                <option value="MURANGA">MURANGA</option>
                <option value="NAIROBI">NAIROBI</option>
                <option value="NAKURU">NAKURU</option>
                <option value="NANDI">NANDI</option>
                <option value="NAROK">NAROK</option>
                <option value="NYAMIRA">NYAMIRA</option>
                <option value="NYANDARUA">NYANDARUA</option>
                <option value="NYERI">NYERI</option>
                <option value="SAMBURU">SAMBURU</option>
                <option value="SIAYA">SIAYA</option>
                <option value="TAITA TAVETA">TAITA TAVETA</option>
                <option value="TANA RIVER">TANA RIVER</option>
                <option value="THARAKA">THARAKA</option>
                <option value="TRANSNZOIA">TRANSNZOIA</option>
                <option value="TURKANA">TURKANA</option>
                <option value="UASIN GISHU">UASIN GISHU</option>
                <option value="VIHIGA">VIHIGA</option>
                <option value="WAJIR">WAJIR</option>
                <option value="WEST POKOT">WEST POKOT</option>
            </select><br>

            <!-- <h3>Month</h3> -->
            <label for="month">Select Month:</label>
            <select name="monthSelect" id="monthSelect">
                <option value="january">January</option>
                <option value="february">February</option>
                <option value="march">March</option>
                <option value="April">April</option>
                <option value="May">May</option>
                <option value="June">June</option>
                <option value="July">July</option>
                <option value="August">August</option>
                <option value="September">September</option>
                <option value="October">October</option>
                <option value="November">November</option>
                <option value="December">December</option>
            </select>
            <input type="submit" value="Get Recommendations">
        </div>
    
</form>
        <div class="card">
            <h3>Rainfall Prediction Information</h3>  
            <p>County: {{ county }}</p>
            <p>Month: {{ month }}</p>
            <p>Predicted Rainfall: {{ predicted_rainfall }} mm</p>
        </div>

        <div class="card">
            <h3>Crop Recommendation</h3>
            <ul>
                {% for recommendation in recommended %}
                <li>{{ recommendation}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>


{% endblock %}